@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  color: #fcf8f0;
}

img {
  user-select: none;
}

.container {
  min-height: calc(100vh - 60px);
  padding: 10px 35px;
  background-image: url(../images/bg1.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 10px solid #426560;
  box-sizing: border-box;
  position: relative;
}

/* ======================================================================= */
header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(38, 83, 76, 1) 0%,
    rgba(235, 250, 243, 1) 100%
  );
  padding: 5px 10px;
  position: relative;
}

header .logo {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

header .logo:hover {
  transform: scale(1.01);
  opacity: 80%;
}

header .logo a {
  display: flex;
}

header .logo img {
  width: 110px;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header ul {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 100%;
  background: linear-gradient(
    180deg,
    rgba(235, 250, 243, 1) 0%,
    rgba(87, 125, 118, 1) 25%,
    rgba(38, 83, 76, 1) 100%
  );

  width: 100%;
  z-index: 2;
}

header ul li {
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid #fcf8f0;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

header ul li:hover {
  background: linear-gradient(
    180deg,
    rgba(66, 101, 96, 1) 75%,
    rgba(252, 248, 240, 1) 100%
  );
}

li.active {
  background: linear-gradient(
    180deg,
    rgba(66, 101, 96, 1) 75%,
    rgba(252, 248, 240, 1) 100%
  );
}

header svg#open {
  display: block;
}

header svg#close {
  display: none;
}

/* ======================================================================= */

.container .data {
  max-width: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 40px 0;
}

.container .data .log-out {
  border-radius: 50%;
  border: 2px solid #426560;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  box-shadow: 4px 6px 20px #00000047, inset 9px 7px 4px -5px #ffffff6e,
    inset -9px -7px 4px -5px #0000004d;
  padding: 4px;
  transition: 0.3s;
  width: 42px;
  height: 42px;
}

.container .data .log-out:hover {
  box-shadow: 4px 6px 20px #00000047, inset 9px 7px 4px -5px #0000004d,
    inset -9px -7px 4px -5px #ffffff6e;
}

.container .details {
  margin: 30px 0;
  text-align: center;
}

.container .details > h1 {
  margin-bottom: 50px;
  position: relative;
}

.container .details > h1::after {
  content: "";
  width: 80px;
  height: 2.5px;
  background-color: #426560;
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 5px;
}

.container .details .image {
  display: flex;
  justify-content: center;
  width: 225px;
  height: 225px;
  overflow: hidden;
  border-radius: 75px;
}

.container .details .image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  position: relative;
  top: -25px;
}

.container .details .name {
  font-size: 34px;
  font-weight: 600;
  color: #426560;
  margin: 20px 0;
}

.container .content {
  width: 100%;
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.container .content .box {
  display: flex;
  justify-content: start;
  width: 80px;
  height: 80px;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
  background-color: rgb(66 101 96 / 50%);
  box-shadow: 4px 6px 20px #00000047, inset 9px 7px 4px -5px #ffffff6e,
    inset -9px -7px 4px -5px #0000004d;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.container .content h2 {
  display: none;
}

.container .content .box:hover {
  background-color: rgb(66 101 96 / 100%);
}

.container .content .box svg path {
  fill: #fcf8f0;
  stroke: none;
}

/* ======================================================================= */

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
    min-height: calc(100vh - 70px);
  }

  .container .data .log-out {
    top: 15px;
    right: 25px;
    padding: 7px;
    width: 52px;
    height: 52px;
  }

  header {
    height: 70px;
    padding: 10px;
  }

  header .logo img {
    width: 150px;
  }

  header ul {
    display: flex;
    align-items: center;
    font-size: 16px;
    position: inherit;
    flex-direction: row;
    background: none;
    width: fit-content;
    top: 0;
  }

  header ul li {
    margin: 0 30px;
    font-size: 16px;
    padding: 0;
    border: none;
    min-width: 75px;
    display: flex;
    justify-content: center;
  }

  header ul li:hover {
    background: none;
    color: #426560;
    font-weight: bold;
  }

  li.active {
    background: none;
    color: #426560;
    font-weight: bold;
  }

  header svg#open {
    display: none;
  }

  header svg#close {
    display: none;
  }

  /* ======================================================================= */

  .container .details {
    margin-bottom: 60px;
  }

  .container .content {
    max-width: 750px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }

  .container .content .box {
    width: 100%;
    height: 100%;
  }

  .container .content .box h2 {
    display: block;
  }

  /* ======================================================================= */
}

/* ======================================================================= */

@media (min-width: 992px) {
  .container {
    min-height: calc(100vh - 80px);
  }

  .container .data .log-out {
    top: 15px;
    right: 40px;
    padding: 8px;
    width: 58px;
    height: 58px;
  }

  .container .content {
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 40px;
  }

  /* ======================================================================= */

  header {
    height: 80px;
    padding: 10px 15px;
  }

  header .logo img {
    width: 160px;
  }

  header ul li {
    font-size: 18px;
    min-width: 85px;
  }

  /* ======================================================================= */
}

/* ======================================================================= */

@media (min-width: 1200px) {
  .container {
    padding: 0 45px;
  }

  .container .data .log-out {
    top: 15px;
    right: 75px;
    padding: 8px;
    width: 64px;
    height: 64px;
  }

  .container .content {
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }

  /* ======================================================================= */
}
