@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-image: url(../384f674ee2d253e617a8460135921973.jpeg);
  background-repeat: round;
  border-bottom: 10px solid #426560;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  color: #fcf8f0;
}

.container .bg-img {
  display: none;
}

/* ======================================================================= */
.container header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    0deg,
    rgba(81, 113, 108, 1) 1%,
    rgba(66, 101, 96, 1) 24%,
    rgba(98, 126, 121, 1) 43%,
    rgba(114, 138, 133, 1) 60%,
    rgba(145, 162, 157, 1) 75%,
    rgba(188, 197, 190, 1) 89%,
    rgba(252, 248, 240, 1) 100%
  );
  padding: 5px 10px;
}

.container header .logo {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.container header .logo:hover {
  transform: scale(1.01);
  opacity: 80%;
}

.container header .logo img {
  width: 110px;
}

.container header ul {
  display: flex;
  align-items: center;
}

.container header ul li {
  margin: 0 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container header ul li:nth-last-child(1) {
  border-left: 1px solid #fcf8f0;
  height: 20px;
  cursor: pointer;
  padding: 0 8px;
  margin: 0;
}

/* ======================================================================= */

.container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 80px auto;
  width: 600px;
  max-width: 90%;
}

.container .content h2 {
  color: #426560;
  font-size: 24px;
  font-weight: bold;
}

.container .content p {
  color: #426560;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.container .button {
  width: fit-content;
  padding: 12px 30px;
  font-size: 13px;
  background-color: rgb(66 101 96 / 50%);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.container .button:hover {
  background-color: rgb(66 101 96 / 100%);
  transform: scale(1.02);
}

/* ======================================================================= */

.boxes {
  display: none;
  width: 750px;
  max-width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  background-color: #c2dfd1;
  color: #426560 !important;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 11px 11px 20px 0px #00000047, -11px -9px 16px -10px #00000029;
}

.boxes .box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}

.boxes .box:nth-child(2) {
  border-top: 2px solid #829b97;
}

.boxes .box .topic {
  margin-bottom: 10px;
  font-size: 20px;
}

.boxes .box .inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.boxes .box .inputs > div {
  position: relative;
}

.boxes .box .inputs > div svg {
  position: absolute;
  width: 20px;
  top: -11px;
  left: 10px;
}

.boxes .box .inputs input {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  padding-left: 40px;
}

.boxes .box .inputs input:focus {
  outline: none;
}

.boxes .box .button {
  width: fit-content;
  padding: 10px 30px;
  font-size: 16px;
  margin: 10px 0 0 0;
  background-color: rgb(66 101 96 / 50%);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #fcf8f0;
}

.boxes .box .button:hover {
  background-color: rgb(66 101 96 / 100%);
  transform: scale(1.02);
}

/* ======================================================================= */

@media (min-width: 768px) {
  .container header {
    padding: 10px;
  }

  .container .bg-img {
    display: none;
  }

  .container header .logo img {
    width: 150px;
  }

  .container header ul li {
    margin: 0 15px;
    font-size: 16px;
  }

  .container header ul li:nth-last-child(1) {
    padding: 0 15px;
    margin: 0;
  }

  .container header ul li:nth-last-child(1) svg {
    width: 19px;
    height: 19px;
  }

  /* ======================================================================= */

  .container .content {
    gap: 20px;
    margin: 100px auto;
  }

  .container .content h2 {
    font-size: 40px;
  }

  .container .content p {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .container .content .button {
    padding: 14px 60px;
    font-size: 20px;
  }

  /* ======================================================================= */

  .boxes {
    display: none;
    width: 750px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    flex-direction: row;
    background-color: #c2dfd1;
    color: #426560 !important;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 11px 11px 20px 0px #00000047, -11px -9px 16px -10px #00000029;
  }

  .boxes .box {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px;
  }

  .boxes .box:nth-child(2) {
    border-left: 2px solid #829b97;
    border-top: none;
  }

  .boxes .box .topic {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .boxes .box .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .boxes .box .inputs > div {
    position: relative;
  }

  .boxes .box .inputs > div svg {
    position: absolute;
    width: 20px;
    top: -11px;
    left: 10px;
  }

  .boxes .box .inputs input {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    padding-left: 40px;
  }

  .boxes .box .inputs input:focus {
    outline: none;
  }

  .boxes .box .button {
    width: fit-content;
    padding: 10px 30px;
    font-size: 16px;
    margin: 50px;
    background-color: rgb(66 101 96 / 50%);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #fcf8f0;
  }

  .boxes .box .button:hover {
    background-color: rgb(66 101 96 / 100%);
    transform: scale(1.02);
  }
}

/* ======================================================================= */

@media (min-width: 992px) {
  .container {
    background-image: url(../bg1.png);
  }

  .container .bg-img {
    display: block;
    position: absolute;
  }

  .container .one {
    bottom: -400px;
    right: -200px;
    width: 1000px;
  }

  .container .two {
    top: 125px;
    right: -20px;
  }

  .container .three {
    bottom: 170px;
    left: -5px;
    width: 350px;
  }

  /* ======================================================================= */
  .container header {
    padding: 10px 15px;
  }

  .container header .logo img {
    width: 160px;
  }

  .container header ul li {
    margin: 0 20px;
    font-size: 18px;
  }

  .container header ul li:nth-last-child(1) {
    padding: 0 20px;
    margin: 0;
  }

  .container header ul li:nth-last-child(1) svg {
    width: 22px;
    height: 22px;
  }

  /* ======================================================================= */

  .container .content {
    align-items: start;
    margin: 130px 80px;
    z-index: 1;
    position: relative;
  }

  .container .content p {
    text-align: start;
  }

  .container .content .button {
    padding: 16px 70px;
    font-size: 22px;
  }

  /* ======================================================================= */

  .boxes {
    display: none;
    width: 750px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: #c2dfd1;
    color: #426560 !important;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 11px 11px 20px 0px #00000047, -11px -9px 16px -10px #00000029;
  }

  .boxes .box {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 10px;
  }

  .boxes .box:nth-child(2) {
    border-left: 2px solid #829b97;
  }

  .boxes .box .topic {
    margin-bottom: 40px;
    font-size: 30px;
  }

  .boxes .box .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .boxes .box .inputs > div {
    position: relative;
  }

  .boxes .box .inputs > div svg {
    position: absolute;
    width: 20px;
    top: -11px;
    left: 10px;
  }

  .boxes .box .inputs input {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    padding-left: 40px;
  }

  .boxes .box .inputs input:focus {
    outline: none;
  }

  .boxes .box .button {
    width: fit-content;
    padding: 10px 30px;
    font-size: 16px;
    margin: 50px;
    background-color: rgb(66 101 96 / 50%);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    color: #fcf8f0;
  }

  .boxes .box .button:hover {
    background-color: rgb(66 101 96 / 100%);
    transform: scale(1.02);
  }
}
